#include <behaviors.dtsi>

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

//#include "../zmk-nodefree-config/keypos_def/keypos_48keys.h"
//#include "../zmk-nodefree-config/international_chars/german.dtsi"

#define ___ &trans
#define XXX &none

#define DEF         0
#define SHIF        1
#define NAV         2 
#define NUM         3
#define STRG        4

#include "combos.dtsi" //muss nach den layerdefs sein
#include "functions.dtsi"
#include "german.dtsi"
#include "helper.h"
#include "layer_one.dtsi"

ZMK_LAYER(default_layer,
&kp j	&d_w	&u_accent	&a_accent	&x_accenti		&p_sqbr	&h_brac	&l_slash	&m_cbrac	&g_csqbrac
&c_strg	&t_nav	&i_num	&e_accent	&o_accent		&kp b	&kp n	&r_apos	&s_ss	&enter_strg
&kp f	&kp v	&udia_accent	&kp DE_ADIA	&odia_accent		&kp DE_Y	&td_z_at	&sl SHIF	&td_comm_quest	&k_q
	___ ___ ___	___	&sl SHIF	&._excl		&kp BSPC	&space_nav		___	___ ___ ___
)

ZMK_BEHAVIOR(D_W, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp S(D)>, <&kp S(W)>;
)

ZMK_LAYER(shifted_layer,
 &kp S(J)	&D_W ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
  ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
)

ZMK_LAYER(nav_layer,
 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
  ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    )

ZMK_LAYER(num_layer,
 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
  ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    )

ZMK_LAYER(strg_layer,
 ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
  ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
   ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___
    ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___ ___)